script
	/*
	$().ready(function() {
		$('#images a').each(function(i, item) {
			$(item).click(function(event) {
				$('#big-image img').attr('src', $(item).attr('href'))
				event.preventDefault();
			});
		});
	});
	*/


div#product.group
	div
		div#big-image
			a#big-image-zoom.cloud-zoom(href="#{product.images[0].url}&size=600", rel="adjustX: 10, adjustY:-4", title="#{product.title}", alt="#{product.title}")
				- if (product.images.length > 0)
					img.product(width="400px", src="#{product.images[0].url}&size=400" )
				- else
					No Image Available.
	
		div#info
			h1 #{product.title}
			small by #{product.vendor}
	
			div#starts-at
				- if (product.price_varies)
					#{product.price_min} € to #{product.price_max} €
				- else
					#{product.price_min}
					
		form#variants
			fieldset
				ol
					li
						label
							select
								each variant in product.variants
									- var label = ""
									option
										each option, i in product.options
											#{variant.options[i]}
											- if (i < (product.options.length - 1))
												/
										\(#{variant.price} €)
					
	div#images.group
		- if (product.images.length > 1)
			ul
				each item in product.images
					li
						a.cloud-zoom-gallery(href="#{item.url}&size=600", rel="useZoom: 'big-image-zoom', smallImage: '#{item.url}&size=400'", title="#{product.title}")
							img.product(width="50px", src="#{item.url}&size=50", alt="#{product.title}")

	div#description.full
		span.header4 Product Description
		ul.vendor-category
			li vendor: #{product.vendor}
			li category: #{product.product_type}
		div.description-body
			!{product.description}

